node-red.txt
[{"id":"237b6ef8.0ef1e2","type":"tab","label":"Flow 1"},{"id":"4c7c2c3e.5bdaa4","type":"ibmiot in","z":"237b6ef8.0ef1e2","authentication":"boundService","apiKey":"80bdcbdf.132d88","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234M","applicationId":"","deviceType":"Motion","eventType":"event_1","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":false,"allEvents":true,"allCommands":"","allFormats":true,"qos":"0","x":225.00001525878906,"y":293.00001525878906,"wires":[["b4f86598.b8ff88","f6facb10.8e4af8"]]},{"id":"b4f86598.b8ff88","type":"debug","z":"237b6ef8.0ef1e2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":350,"y":140,"wires":[]},{"id":"dd572ee9.e90d5","type":"debug","z":"237b6ef8.0ef1e2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":730,"y":200,"wires":[]},{"id":"71941d70.1f36f4","type":"debug","z":"237b6ef8.0ef1e2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":770,"y":300,"wires":[]},{"id":"f28df342.e903d","type":"debug","z":"237b6ef8.0ef1e2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":730,"y":420,"wires":[]},{"id":"f6facb10.8e4af8","type":"switch","z":"237b6ef8.0ef1e2","name":"Key-switch","property":"$string(msg.payload)","propertyType":"jsonata","rules":[{"t":"cont","v":"images","vt":"str"},{"t":"cont","v":"acceleration_x","vt":"str"},{"t":"cont","v":"random","vt":"str"},{"t":"cont","v":"Light","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":470,"y":400,"wires":[["dd572ee9.e90d5","23cda7b5.80a168"],["71941d70.1f36f4","4e53ffc0.9e1ca"],["f28df342.e903d","63b34114.74d03"],[]]},{"id":"23cda7b5.80a168","type":"function","z":"237b6ef8.0ef1e2","name":"","func":"if(msg.payload.images[0].classifiers[0].classes.length > 0 && \nmsg.payload.images[0].classifiers[0].classes[0].class == 'person' || msg.payload.images[0].classifiers[0].classes[1].class == 'person')\n{\n    var d = new Date();\n    msg1 = {topic:\"Someone there!!\", payload:'There was someone at the door at ' + d.getHours() +':'+d.getMinutes() +':' + d.getSeconds()}; // => 51};\n    return msg1;\n}\n\nelse\n{\n    return null;\n}\n","outputs":1,"noerr":0,"x":720,"y":240,"wires":[["18c639d8.4ad606"]]},{"id":"4f52af37.8cc94","type":"ui_chart","z":"237b6ef8.0ef1e2","name":"","group":"998fac28.6b4a3","order":0,"width":"13","height":"10","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1025.000114440918,"y":336.00004959106445,"wires":[[],[]]},{"id":"4e53ffc0.9e1ca","type":"function","z":"237b6ef8.0ef1e2","name":"","func":"msg1 = {topic:\"Front/Back\", payload:msg.payload.d.acceleration_x};\nreturn msg1;","outputs":1,"noerr":0,"x":750,"y":340,"wires":[["4f52af37.8cc94"]]},{"id":"412de24c.f0186c","type":"ui_gauge","z":"237b6ef8.0ef1e2","name":"","group":"901aeafb.af8568","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"units","format":"{{value}}","min":"20","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"40","x":970,"y":460,"wires":[]},{"id":"63b34114.74d03","type":"function","z":"237b6ef8.0ef1e2","name":"","func":"msg = {topic:\"Temperature\", payload:msg.payload.randomNumber}\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":460,"wires":[["412de24c.f0186c"]]},{"id":"913159cb.9df728","type":"ibmiot out","z":"237b6ef8.0ef1e2","authentication":"boundService","apiKey":"","outputType":"evt","deviceId":"1234L","deviceType":"Light","eventCommandType":"myevent","format":"boolean","data":"msg.payload","qos":0,"name":"IBM IoT","service":"registered","x":682.0000534057617,"y":614.0000295639038,"wires":[]},{"id":"ec6f7c85.043","type":"ui_switch","z":"237b6ef8.0ef1e2","name":"","label":"ON/OFF","group":"ab8b2768.60aac8","order":0,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"Light","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":362.0000457763672,"y":626.0000286102295,"wires":[["913159cb.9df728","9c12d283.f0082"]]},{"id":"9c12d283.f0082","type":"debug","z":"237b6ef8.0ef1e2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":675.0000534057617,"y":692.000036239624,"wires":[]},{"id":"18c639d8.4ad606","type":"ui_text","z":"237b6ef8.0ef1e2","group":"95a146ee.a1d8c8","order":0,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":1097.1000366210938,"y":239.39999389648438,"wires":[]},{"id":"80bdcbdf.132d88","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"998fac28.6b4a3","type":"ui_group","z":"237b6ef8.0ef1e2","name":"Motion","tab":"6897b8b2.2efd18","order":1,"disp":true,"width":"13","collapse":false},{"id":"901aeafb.af8568","type":"ui_group","z":"","name":"Temperature","tab":"6897b8b2.2efd18","order":2,"disp":true,"width":"6","collapse":false},{"id":"ab8b2768.60aac8","type":"ui_group","z":"","name":"Lights","tab":"6897b8b2.2efd18","order":3,"disp":true,"width":"6","collapse":false},{"id":"95a146ee.a1d8c8","type":"ui_group","z":"","name":"Smart Door","tab":"6897b8b2.2efd18","order":4,"disp":true,"width":"6","collapse":false},{"id":"6897b8b2.2efd18","type":"ui_tab","z":"237b6ef8.0ef1e2","name":"Home","icon":"dashboard"}]