node-red.txt
[{"id":"8da7bd56.a4d65","type":"tab","label":"Flow 1"},{"id":"bc178982.155578","type":"ibmiot in","z":"8da7bd56.a4d65","authentication":"boundService","apiKey":"5919a744.c55528","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234M","applicationId":"","deviceType":"Motion","eventType":"event_1","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":false,"allEvents":true,"allCommands":"","allFormats":true,"qos":"0","x":225.00001525878906,"y":293.00001525878906,"wires":[["3d2d70a3.3ab4b","d3a73dfe.3fcf4"]]},{"id":"3d2d70a3.3ab4b","type":"debug","z":"8da7bd56.a4d65","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":350,"y":140,"wires":[]},{"id":"6882264c.8f1738","type":"debug","z":"8da7bd56.a4d65","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":730,"y":200,"wires":[]},{"id":"18c1e4c7.477dbb","type":"debug","z":"8da7bd56.a4d65","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":770,"y":300,"wires":[]},{"id":"eb4dd16c.8048a","type":"debug","z":"8da7bd56.a4d65","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":730,"y":420,"wires":[]},{"id":"d3a73dfe.3fcf4","type":"switch","z":"8da7bd56.a4d65","name":"Key-switch","property":"$string(msg.payload)","propertyType":"jsonata","rules":[{"t":"cont","v":"images","vt":"str"},{"t":"cont","v":"tiltLR","vt":"str"},{"t":"cont","v":"random","vt":"str"},{"t":"cont","v":"Light","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":470,"y":400,"wires":[["6882264c.8f1738","582d22d4.21cf4c"],["18c1e4c7.477dbb","e0a353b6.bf85b"],["eb4dd16c.8048a","71403b86.8d78f4"],[]]},{"id":"582d22d4.21cf4c","type":"function","z":"8da7bd56.a4d65","name":"","func":"if(msg.payload.images[0].classifiers[0].classes.length > 0 && \nmsg.payload.images[0].classifiers[0].classes[0].class == 'person' || msg.payload.images[0].classifiers[0].classes[1].class == 'person')\n{\n    var d = new Date();\n    msg1 = {topic:\"Someone there!!\", payload:'There was someone at the door at ' + d.getHours() +':'+d.getMinutes() +':' + d.getSeconds()}; // => 51};\n    return msg1;\n}\n\nelse\n{\n    return null;\n}\n","outputs":1,"noerr":0,"x":720,"y":240,"wires":[["f9b0b15d.ada5d"]]},{"id":"b5e800ae.1ca03","type":"ui_chart","z":"8da7bd56.a4d65","name":"","group":"21fc658.1ed8b9a","order":0,"width":"13","height":"10","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1025.000114440918,"y":336.00004959106445,"wires":[[],[]]},{"id":"e0a353b6.bf85b","type":"function","z":"8da7bd56.a4d65","name":"","func":"msg1 = {topic:\"Front/Back\", payload:msg.payload.titlFB};\nreturn msg1;","outputs":1,"noerr":0,"x":750,"y":340,"wires":[["b5e800ae.1ca03"]]},{"id":"9322dba1.139dd8","type":"ui_gauge","z":"8da7bd56.a4d65","name":"","group":"31a44a7.7dc7fb6","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"units","format":"{{value}}","min":"20","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"40","x":970,"y":460,"wires":[]},{"id":"71403b86.8d78f4","type":"function","z":"8da7bd56.a4d65","name":"","func":"msg = {topic:\"Temperature\", payload:msg.payload.randomNumber}\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":460,"wires":[["9322dba1.139dd8"]]},{"id":"84bcd4b3.66ba98","type":"ibmiot out","z":"8da7bd56.a4d65","authentication":"boundService","apiKey":"","outputType":"evt","deviceId":"1234L","deviceType":"Light","eventCommandType":"myevent","format":"boolean","data":"msg.payload","qos":0,"name":"IBM IoT","service":"registered","x":682.0000534057617,"y":614.0000295639038,"wires":[]},{"id":"fda29a16.d2fe38","type":"ui_switch","z":"8da7bd56.a4d65","name":"","label":"ON/OFF","group":"abff4030.cf421","order":0,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"Light","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":362.0000457763672,"y":626.0000286102295,"wires":[["84bcd4b3.66ba98","88f697ec.2da188"]]},{"id":"88f697ec.2da188","type":"debug","z":"8da7bd56.a4d65","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":675.0000534057617,"y":692.000036239624,"wires":[]},{"id":"f9b0b15d.ada5d","type":"ui_text","z":"8da7bd56.a4d65","group":"748e01e7.79313","order":0,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":1097.1000366210938,"y":239.39999389648438,"wires":[]},{"id":"5919a744.c55528","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"21fc658.1ed8b9a","type":"ui_group","z":"8da7bd56.a4d65","name":"Motion","tab":"8f936521.9f3728","order":1,"disp":true,"width":"13","collapse":false},{"id":"31a44a7.7dc7fb6","type":"ui_group","z":"","name":"Temperature","tab":"8f936521.9f3728","order":2,"disp":true,"width":"6","collapse":false},{"id":"abff4030.cf421","type":"ui_group","z":"","name":"Lights","tab":"8f936521.9f3728","order":3,"disp":true,"width":"6","collapse":false},{"id":"748e01e7.79313","type":"ui_group","z":"","name":"Smart Door","tab":"8f936521.9f3728","order":4,"disp":true,"width":"6","collapse":false},{"id":"8f936521.9f3728","type":"ui_tab","z":"8da7bd56.a4d65","name":"Home","icon":"dashboard"}]